{include file="index/common/header.html"}
<link rel="stylesheet" href="{CSS_PATH}about.css">
<link rel="stylesheet" href="{CSS_PATH}route.css">
<link rel="stylesheet" href="{CSS_PATH}admin.css">
    <div class="banner">
        <div class="inner">
            <h2>真正的旅行</h2>
            <h3>从来不会追溯汹涌的人潮</h3>
            <p>咨询电话：400 - 000 - 000</p>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-bg-3 col-md-3 col-sm-3 aboutInner">
                <div class="item">
                    <span>|</span>
                    <div class="guanyu">
                        <h2>路线</h2>
                        <h4>route</h4>
                    </div>
                    <img src="{IMAGES_PATH}u7ds_qy75.png" alt="">
                </div>
                <ul class="navList">
                    {if isset($cat)}
                    {foreach $cat $v}
                    <!--<li class="navItem active">
                        <a href="index.php?a={$v['temp_name']}">{$v['name']}</a>
                        <span>&gt;</span>
                    </li>-->
                    <a href="index.php?a={$v['temp_name']}&id={$v['id']}&catid={$catid}" class="navItem">
                        {$v['name']}
                        <span>&gt;</span>
                    </a>
                   {/foreach}
                    {/if}
                </ul>
            </div>
            <div class="col-lg-9 col-bg-9 col-md-9 col-sm-9 aboutInner">
                <div class="content">
                    <div class="top">
                        <img src="{IMAGES_PATH}kmwg.png" alt="">
                        <a href="#">首页</a>
                        <span>&gt;&gt;</span>
                        {if isset($catname)}
                        <a href="index.php?a={$catname['temp_name']}&id={$catname['id']}&catid={$catid}">{$catname['name']}</a>
                        {/if}

                    </div>
                    <p class="line"></p>
                    {foreach $con $v}
                    <div class="row" style="margin-bottom: 25px">
                        <div class="col-sm-6">
                            <a href="index.php?a=show&id={$v['id']}&catid={$catid}" class="imga">
                                <img src="{$v['thumb']}" alt="" style="width: 370px;height: 190px;">
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <div class="inner">
                                {foreach $cat $r}
                                {if $r['id']==$v['catid']}
                                <a href="" class="type">[{$r['name']}]</a>
                                {/if}
                                {/foreach}

                                <a href="index.php?a=show&id={$v['id']}&catid={$catid}" class="season">{$v['title']}</a>
                                <p class="price">价格： <span>123</span></p>
                                <div>
                                    {$v['description']}
                                </div>
                            </div>
                        </div>
                    </div>
                    {/foreach}
                    <div class="pagelist">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="index/common/footer.html"}
</body>
</html>