{include file="index/common/header.html"}
<link rel="stylesheet" href="{CSS_PATH}03.css">
<link rel="stylesheet" href="{CSS_PATH}about.css">

<div class="banner">
    <div class="inner">
        <h2>真正的旅行</h2>
        <h3>从来不会追溯汹涌的人潮</h3>
        <p>咨询电话：400 - 000 - 000</p>
    </div>
</div>
</div>
<div class="content">
    <div class="container">
        <div class="title">
            <ul>
                <li class="active"><a href="" class="active">公司新闻</a></li>
                <li><a href="">媒体报道</a></li>
                <li><a href="">行业动态</a></li>
            </ul>
        </div>
        <div class="jieshao row">
            <div class="imgbox col-xs-3">
                <a href=""><img src="{IMAGES_PATH}7.jpg" alt=""></a>
            </div>
            <div class="introbox col-xs-9">
                <a href="" class="out">出行保险</a>
                <span class="time">2014-10-20</span>
                <p class="con">满足所有申根国家签证要求，最高意外保障高达200万人民币，医药补偿高达30万，还包括行程延误、个人财物、家庭财产、证件遗失等多方面的出行保障。保险标的即保险对象，人身保险的标的是被保险人的身体和生命，而广义的财产保险是以财产及其有关经济利益和损害赔偿责任为保险标的的保险。</p>
            </div>
        </div>
        <div class="xiangxi">
            <ul>
                <li>
                    <div class="riqi">
                        <span class="day">27</span>
                        <span class="date">2014-10</span>
                    </div>
                    <div class="right">
                        <p class="rtitle">
                            <a href="">巴以冲突游让游客们趋之若鹜 游客数猛增</a>
                        </p>
                        <p class="rabs">
                            自2005年第二次巴勒斯坦人民大起义结束后，巴以地区的安全形势逐年好转。以色列旅游部的 最新数据显示，今年1-4月份，以色列共接待了106万游客，创下历史新高。除了常规景点外，“巴以冲突游”让游客们趋之若鹜。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="riqi">
                        <span class="day">27</span>
                        <span class="date">2014-10</span>
                    </div>
                    <div class="right">
                        <p class="rtitle">
                            <a href="">巴以冲突游让游客们趋之若鹜 游客数猛增</a>
                        </p>
                        <p class="rabs">
                            自2005年第二次巴勒斯坦人民大起义结束后，巴以地区的安全形势逐年好转。以色列旅游部的 最新数据显示，今年1-4月份，以色列共接待了106万游客，创下历史新高。除了常规景点外，“巴以冲突游”让游客们趋之若鹜。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="riqi">
                        <span class="day">27</span>
                        <span class="date">2014-10</span>
                    </div>
                    <div class="right">
                        <p class="rtitle">
                            <a href="">巴以冲突游让游客们趋之若鹜 游客数猛增</a>
                        </p>
                        <p class="rabs">
                            自2005年第二次巴勒斯坦人民大起义结束后，巴以地区的安全形势逐年好转。以色列旅游部的 最新数据显示，今年1-4月份，以色列共接待了106万游客，创下历史新高。除了常规景点外，“巴以冲突游”让游客们趋之若鹜。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="riqi">
                        <span class="day">27</span>
                        <span class="date">2014-10</span>
                    </div>
                    <div class="right">
                        <p class="rtitle">
                            <a href="">巴以冲突游让游客们趋之若鹜 游客数猛增</a>
                        </p>
                        <p class="rabs">
                            自2005年第二次巴勒斯坦人民大起义结束后，巴以地区的安全形势逐年好转。以色列旅游部的 最新数据显示，今年1-4月份，以色列共接待了106万游客，创下历史新高。除了常规景点外，“巴以冲突游”让游客们趋之若鹜。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="riqi">
                        <span class="day">27</span>
                        <span class="date">2014-10</span>
                    </div>
                    <div class="right">
                        <p class="rtitle">
                            <a href="">巴以冲突游让游客们趋之若鹜 游客数猛增</a>
                        </p>
                        <p class="rabs">
                            自2005年第二次巴勒斯坦人民大起义结束后，巴以地区的安全形势逐年好转。以色列旅游部的 最新数据显示，今年1-4月份，以色列共接待了106万游客，创下历史新高。除了常规景点外，“巴以冲突游”让游客们趋之若鹜。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="riqi">
                        <span class="day">27</span>
                        <span class="date">2014-10</span>
                    </div>
                    <div class="right">
                        <p class="rtitle">
                            <a href="">巴以冲突游让游客们趋之若鹜 游客数猛增</a>
                        </p>
                        <p class="rabs">
                            自2005年第二次巴勒斯坦人民大起义结束后，巴以地区的安全形势逐年好转。以色列旅游部的 最新数据显示，今年1-4月份，以色列共接待了106万游客，创下历史新高。除了常规景点外，“巴以冲突游”让游客们趋之若鹜。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="riqi">
                        <span class="day">27</span>
                        <span class="date">2014-10</span>
                    </div>
                    <div class="right">
                        <p class="rtitle">
                            <a href="">巴以冲突游让游客们趋之若鹜 游客数猛增</a>
                        </p>
                        <p class="rabs">
                            自2005年第二次巴勒斯坦人民大起义结束后，巴以地区的安全形势逐年好转。以色列旅游部的 最新数据显示，今年1-4月份，以色列共接待了106万游客，创下历史新高。除了常规景点外，“巴以冲突游”让游客们趋之若鹜。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="riqi">
                        <span class="day">27</span>
                        <span class="date">2014-10</span>
                    </div>
                    <div class="right">
                        <p class="rtitle">
                            <a href="">巴以冲突游让游客们趋之若鹜 游客数猛增</a>
                        </p>
                        <p class="rabs">
                            自2005年第二次巴勒斯坦人民大起义结束后，巴以地区的安全形势逐年好转。以色列旅游部的 最新数据显示，今年1-4月份，以色列共接待了106万游客，创下历史新高。除了常规景点外，“巴以冲突游”让游客们趋之若鹜。
                        </p>
                    </div>
                </li>
            </ul>
            <div class="pageitem">
                <a href="" disabled><</a>
                <a href="" class="active">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">></a>
            </div>
        </div>
    </div>
</div>
{include file="index/common/footer.html"}
</body>
</html>