.map{
    width:100%;
    height:328px;
    /*background: url("../images/map.png") 100% 100%;*/
}
.col-center{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:20px 0;
}
.col-center h2{
    color: #B7B2AC;
    font-weight:normal;
}
/*
html,body{margin:0;padding:0;}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
*/
#allmap{
    width: 770px;
    height:328px;
}